[test]
root = "tests"
preload = ["./bun-test-setup.ts"]
# coverage = true
coveragePathIgnorePatterns = [
  "bun-test-setup.ts",
  "e2e/**",
  "tests/**",
  "src/ui/icons/**",
  "src/exporters/gif-exporter.ts",
]

[test.coverageThreshold]
lines = 0.95
functions = 0.95
statements = 0.95
