name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Bun
        uses: ./.github/actions/setup-bun

      - name: Run typecheck
        run: bun typecheck

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Biome
        uses: biomejs/setup-biome@dffc78db7e84fe7c20901b2eb7b697f74f916b72 # v2

      - name: Run lint
        run: biome ci --reporter=github --formatter-enabled=false .

      - name: Run lint (verbose)
        if: failure()
        run: biome ci --formatter-enabled=false .

  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Bun
        uses: ./.github/actions/setup-bun

      - name: Formatting
        if: always()
        uses: dprint/check@9cb3a2b17a8e606d37aae341e49df3654933fc23 # v2.3

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Bun
        uses: ./.github/actions/setup-bun

      - name: Run tests
        run: bun test

  code-duplication:
    name: Check duplicated code
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Bun
        uses: ./.github/actions/setup-bun

      - name: Check duplication
        uses: ./.github/actions/check-duplication
        continue-on-error: true

      - name: Prevents job failure
        run: echo "Hi!"
